.form-group-row1{
    height: 50px;
    width: 100%;
    outline: none;
    background-color: white;
}

.form-group-row2{
    height: 200px;
    width: 100%;
    outline: none;
    background-color: white;
    overflow: auto;
}

.form-group-row3{
    padding: 10px 0px 10px 0px;
    height: auto;
    width: 100%;
    outline: none;
    background-color: white;
}

.form-group-row4{
    padding: 10px 0px 10px 0px;
    height: auto;
    width: 100%;
    outline: none;
    background-color: white;
}

body {
  width: 300px;
}
