.form-group-row1{
    height: 50px;
    width: 200px;
    outline: none;
    background-color: white;
}

.form-group-row2{
    height: 200px;
    width: 200px;
    outline: none;
    background-color: white;
}

.form-group-row3{
    height: 50px;
    width: 200px;
    outline: none;
    background-color: white;
}

.form-group-row4{
    height: 50px;
    width: 200px;
    outline: none;
    background-color: white;
}
